<!--生产管理片段-->
<div id="page" th:fragment="productManagement" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:shiro="http://www.w3.org/1999/xhtml">
    <div id="toolbar">
        <button shiro:hasPermission="md:product:add" id="add" class="btn btn-primary fa fa-plus" value="增加产品信息">&nbsp;增加
        </button>
        <button shiro:hasPermission="md:product:edit" id="edit" class="btn btn-warning fa fa-pencil" value="修改产品信息">&nbsp;修改
        </button>
        <button shiro:hasPermission="md:product:del" id="del" class="btn btn-danger fa fa-trash-o">&nbsp;删除</button>
    </div>
    <table id="table"></table>

    <div id="editLayer" style="display: none">
        <!-- 表单-->
        <div class="form-horizontal" style="padding-top: 50px;width: 580px;">
            <form id="editForm">
                <div class="form-group">
                    <div class="col-sm-2 control-label">产品名</div>
                    <div class="col-sm-9">
                        <input type="text" id="produceName" name="produceName" class="form-control" placeholder="产品名"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-2 control-label">产品编码</div>
                    <div class="col-sm-9">
                        <input type="text" name="produceCode" id="produceCode" class="form-control" placeholder="产品编码"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-2 control-label">岗位名称</div>
                    <div class="col-sm-9">
                        <input type="text" name="postName" id="postName" class="form-control" placeholder="岗位名称"/>
                    </div>
                </div>
                <div class="form-group" id="menuUrl">
                    <div class="col-sm-2 control-label">岗位编码</div>
                    <div class="col-sm-9">
                        <input type="text" name="postCode" id="postCode" class="form-control" placeholder="岗位编码"/>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- 选择菜单 -->
    <div id="menuLayer" style="display: none;padding:10px;">
        <ul id="menuTree" class="ztree"></ul>
    </div>
    <script type="text/javascript" th:src="@{/js/productManagement.js}"></script>
    <script type="text/javascript" th:src="@{/js/page.js}"></script>
</div>